<div class="container-fluid row">
    <h2 style="margin-top: 1em;">Vaardigheden & frameworks:</h2>
    <div class="col-md-3"></div>
    <div class="col-md-2">

        <li>PHP</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Python</li>

    </div>

    <div class="col-md-2">

        <li>SQL</li>
        <li>WordPress</li>
        <li>Bash</li>
        <li>Linux & Windows</li>
        <li>Stripe</li>

    </div>
    <div class="col-md-2">

        <li>Bootstrap</li>
        <li>Phaser</li>
        <li>Git</li>

    </div>

    <div class="col-md-3"></div>
    <div class="col-12">
        <br>
        <p style="text-align: center;">En natuurlijk nog veel meer ..</p>
    </div>
</div>