<div class="container-fluid row">
    <div class="col-12">
        <h1 style="margin-top: 1.5em;" id="portfolioMainHeader"></h1>
    </div>

    <div class="col-md-6" style="margin-top: 1em;">
        <img src="images/lookbook_dkvdev.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6" style="margin-top: 1em;">
        <img src="images/theme-peer2product_hy.jpg" alt="" class="img-fluid">
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><img src="images/dd_hy_portfolio.jpg" alt="" class="img-fluid" style="margin-top: 1em;"></center>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top: 1em;" id="portfolioMainContent">
        <br>        
        <h4>github:</h4>
        <div>
            <p><a href="https://github.com/mr-35843">https://github.com/mr-35843</a><br>
               <a href="https://github.com/davidvk89">https://github.com/davidvk89</a>
            </p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<script>
const portfolioMainHeader = document.getElementById("portfolioMainHeader");
const portfolioContent = document.getElementById("portfolioMainContent");

fetchTranslationJSON("portfolio").then(translation => {
    console.log(translation);
    portfolioMainHeader.innerHTML = translation.MAIN_HEADER;
    
        for(let i = 0; i < translation.CONTENT.length; i = i + 3 ){
            const url = translation.CONTENT[i];
            const title = translation.CONTENT[i+1];
            const text = translation.CONTENT[i+2];

            portfolioMainContent.innerHTML = portfolioMainContent.innerHTML +
            '<h4>'+'<a href="'+url+'">'+title+'</a></h4>' +
            '<p>'+text+'</p>';
        }
    })
</script>