<div class="container-fluid row" style="margin-top: 1em;">
    <div class="col-12">
        <h1>MAIN_HEADER</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-12 col-md-3">
        <center><img src="images/profilePicture.jpg" alt="Picture of developer David van Kleef" class="img-fluid"
                style="margin-top:1.5em"></center>
    </div>

    <div class="col-12 col-md-6" style="margin-top:1em;">
        MAIN_CONTENT
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid row">

    <div class="col-12"><br><br>
        <h2>SECONDARY_HEADER</h2>
    </div>

    <div class="col-md-1"></div>
    <div class="col-md-8">
       
        <h3 style="text-align: left;">PROJECT_BASED_HEADER</h3>\
            PROJECT_BASED_CONTENT
        
        <h3 style="text-align: left;">EMPOYMENT_BASED_HEADER</h3>
        EMPLOYMENT_BASED_CONTENT
    </div>

    <div class="col-md-3" style="border: 1em solid #FFF;margin-top: 1em;">
        <img class="img-fluid" src="images/what_i_want.jpg" style="margin: 1em;">
    </div>
</div>