<div class="container-fluid row" style="margin-top: 1em;">
    <div class="col-12">
        <h1>Over mij:</h1>
    </div>
    <div class="col-md-1"></div>
    <div class="col-12 col-md-3">
        <center><img src="images/profilePicture.jpg" alt="Picture of developer David van Kleef" class="img-fluid"
                style="margin-top:1.5em"></center>
    </div>

    <div class="col-12 col-md-6" style="margin-top:1em;">

        <p>Ik ben een gedreven ontwikkelaar met ambitie en passie.
            Ik werk veelal als freelancer aan o.a. websites en e-commerce applicaties met verschillende Content
            Management Systems zoals WordPress.
            Ik geloof in hard en slim werken, duidelijke afspraken en transparantie. Daar wordt samenwerken een stuk
            makkelijker van.
        </p>
        <p>
            Waar ik als ontwikkelaar trots op ben is mijn probleemoplossend vermogen. Door goed door te vragen,
            Problemen
            te verkleinen en splitsen, kiezen voor bewezen technologien en simpele oplossingen i.p.v. altijd
            de nieuwe " shiny toys" in te willen zetten. Nieuw is natuurlijk interessant! Maar lang niet altijd beter.
        </p>
        <p>Ik houdt van variatie. Elke dag de hele dag hetzelfde kunstje is niet aan mij weggelegd. Ik denk graag mee en
            ben
            assertief.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid">

    <div class="col-12"><br><br></div>

    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h2 style="text-align: left;">Waar ik naar opzoek ben:</h2>
        <h3 style="text-align: left;">Op Project basis:</h3>
        <p style="margin-top:2em;">Ontwikkelen van nieuwe websites of e-commerce projecten of bijhouden en updaten van
            bestaande websites.
            Implementeren van betalingssystemen zoals van stripe en/of paypal of cryptocurrencies.
            Ook ben ik beschikbaar voor vragen en begeleiding voor hen die vastlopen in een bestaand project. Heb je
            vragen? Neem gerust even contact op!</p>
        <h3 style="text-align: left;">Op vaste basis:</h3>
        <p>Een nieuwe uitdaging, persoonlijke groei en een team dat inspireert. Een rustige werkplek of remote. Leuke
            collega's waar je zo af en toe ook een borrel mee kunt drinken en werk dat gezien wordt. Het liefst werk ik
            aan maatwerk oplossingen!</p>
    </div>

    <div class="col-md-3" style="border: 1em solid #FFF;margin-top: 1em;">
        <img class="img-fluid" src="images/what_i_want.jpg" style="margin: 1em;">
    </div>
</div>






<div class="container-fluid">
    <div class="col-12">
        <h1 style="margin-top: 1.5em;"><b>Portfolio:</b></h1>
    </div>

    <div class="col-md-6" style="margin-top: 1em;">
        <img src="images/lookbook_dkvdev.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6" style="margin-top: 1em;">
        <img src="images/theme-peer2product_hy.jpg" alt="" class="img-fluid">
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><img src="images/dd_hy_portfolio.jpg" alt="" class="img-fluid" style="margin-top: 1em;"></center>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top: 1em;">
        <br>

        <h4><a href="https://hardstuck.gg/gw2/team-builder/">hardstuck</a></h4>
        <p>Team builder tool for online gaming experience.</p>

        <h4><a href="https://wageningen.hybrix.io">hybrix pilot store</a></h4>
        <p>E-commerce store that acts as a bridge between hybrix's crypto environment and FIAT. This website serves as
            the FIAT to crypto bridge whereas the banking function in wallet.hybrix.io functions as the crypto to FIAT
            bridge. Both systems make heavy use of the peer2product API to semi-automate payments.</p>

        <h4><a href="https://theisencoaching.nl">theisencoaching</a></h4>
        <p>On page SEO optimization, rebuild from PHP5 to PHP8.</p>

        <h4><a href="https://github.com/agent725/peer2product">Peer2Product</a></h4>
        <p>front-end work and theming.</p>

        <h4><a href="https://github.com/davidvk89/dkvdev-qr-pay">QR payment system:</a></h4>

        <p>Application for small businesses to accept payments everywhere!</p>
        <h4>git:</h4>
        <p><a href="https://github.com/mr-35843">https://github.com/mr-35843</a><br>
            <a href="https://github.com/davidvk89">https://github.com/davidvk89 </a>
        </p>

    </div>
    <div class="col-md-2"></div>

</div>